<div class="container mt-5">
  <div class="d-flex flex-column align-items-center">
    {{#if shortenCode}}
    <div class="alert alert-danger" role="alert">
      無效的短網址
    </div>
    {{/if}}
    <h2>URL Shortener</h2>
    <img src="https://image.flaticon.com/icons/png/512/4299/4299106.png" alt="" style="width: 20%" class="my-5">
    <div class="form-group" style="width: 50%;">
      <form action="/" method="post" class="d-flex flex-column align-items-center">
        <input type="text" class="form-control" placeholder="Input URL here" name="url">
        <button type="submit" class="btn btn-outline-primary mt-3" style="width: 50%;">Shorten</button>
      </form>
    </div>
  </div>    
</div>